spring:
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://localhost:3306/test?characterEncoding=UTF-8&serverTimezone=Asia/Seoul
    username: root
    password: ssafy

  redis:
    host: localhost
    port: 6379
    password: 1234
    timeout: 3000

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        use_sql_comments: true

logging:
  file:
    name: log-local.log
  level:
    org.hibernate:
      type.type.descriptor.sql: trace
    root: info


jwt:
  header: Authorization
  secret: eWFrY2hhY2hhLXNzYWZ5ODAz
  token-validity-in-seconds: 86400